*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;

}
nav {
    position: fixed;
    width: 100%;
    background-color: aqua;
    height: 70px;
    
}
.brand{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-left: 20px;
    position: relative;
    line-height: 65px;
}
#blend{
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-left: 20px;
    position: relative;
    line-height: 65px;
}
ul{
    position: relative;
    float: right;
    margin-right: 20px;
}
ul li{
    display: inline-block;
    line-height: 65px;
    margin: 0 5px;
}
ul li a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.image{
    height: 300px;
    width: 100%;
}
.section1{
    padding: 65px;
}
.imageText{
    position: absolute;
    top: 15%;
    left: 20%;
    font-size: 40px;
    color: blue;
    background-color: yellowgreen;
    padding-right: 20px;
    padding-left: 20px;
}
.welcome{
    height: 250px;
    width: 100%;

}
.container{
    padding-top: 65px;
}
span{
    color: green;
    font-size: 20px;
    background-color: white;
}
.services{
    width: 90%;
    height: 200px;
}
.lab{
    padding-right: 10px;
    display: inline-block;
    text-align: right;
    width: 100px;
    /*padding-bottom: 50px;*/
}
.input-area{
 height: 40px;
 width: 25%;
 border: 2px solid blue;
 border-radius: 20px;
 /*padding-bottom: 0px;*/
}
.sub{
    padding-top: 10px;
}
#textarea{
    height: 110px;
 width: 30%;
 border: 2px solid blue;
 border-radius: 20px;
}
#submit{
    position: relative;
    left: 5%;
    width: 15%;
}
footer{
    width: 100%;
    background-color: black;
    height: 62px;
}
.copy{
    color: white;
    position: relative;
    text-align: center;
    top:20%; 
}
.news{
    padding-top: 20px;
    padding-bottom: 20px;
}
.loginForm{
    padding-top: 200px;
   
}
.labelLogin{
    display: inline-block;
    color: blue;
    font-weight: 700px;
    width: 100px;
    font-size: 20px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    

}
#loginBtn{
    position: absolute;
    text-align: right;
}
.formlog{
    background-color: black;
    width: 400px;
    padding-top: 65px;
    padding-bottom: 65px;
}
.titleLogin{
    background-color: skyblue;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
}
.bodyBack{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.bodyReg{
   background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;  
}
.titleReg{
    background-color: skyblue;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
}
.formReg{
    background-color: black;
    width: 400px;
    padding-top: 65px;
    padding-bottom: 65px;
}
.labelReg{
    display: inline-block;
    color: blue;
    font-weight: 700px;
    width: 100px;
    font-size: 20px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.RegForm{
    padding-top: 200px;
}